<div class="fd-shell fd-shell--fixed fd-shell--fundamentals">
  <div class="fd-page">

    <header class="fd-page__header">

    <div lass="fd-has-margin-medium">
    <div class="fd-col--8">
        <br>
        <h2 class="docs-header-h2" id="spacing-function">SdI Upload</h2>


            <p>
          In some exceptional cases, an incoming invoice or notification might not reach the CPI tenant. This tool enables you to manually upload these documents (which can be downloaded from the Tax Authorities' website) directly into your tenant. From this point on, the processing of this invoice or notification will be exactly the same as the others.
          <br>
          <br>
          <i>
          This is a support tool that should only be used in case of error or missing documents!
          <br>
          <br>

          Do not use this tool for documents that have already been received successfully! This could create duplicate entries in your system.
          <br>
          </i>

          </p>

    </div>
</div>

    </header>

    <div class="fd-page__content">

      <section class="fd-section">
        <a class="mb-3" routerLink="/upload-invoice">
          <button class="fd-button--emphasized">Upload Invoice</button>
        </a>
        <br>
        <a routerLink="/upload-invoice-notification">
          <button class="fd-button--emphasized">Upload Invoice Notification</button>
        </a>
      </section>

    </div>
  </div>
</div>
