<div class="fd-shell fd-shell--fixed fd-shell--fundamentals">
  <div class="fd-page">

    <header class="fd-page__header">

    <div lass="fd-has-margin-medium">
    <div class="fd-col--8">
          <br>
          <h2 class="docs-header-h2">
            {{ showUpload ? "Upload Invoice to CPI":""}}
            {{ showStatus ? "Status":""}}
          </h2>
          <p>
            {{ showUpload ? "Download an invoice and its metadata files from the SdI site, select them here using 'Choose file' buttons and complete the upload by clicking on 'Upload!'.":""}}
            {{ showStatus ? "Find below the status of the opearation. Click on 'Start Again' to upload other files." : ""}}
          </p>
        </div>
      </div>
      <div *ngIf="errorMessage">
        <span class="fd-badge fd-badge--error">Error</span>&nbsp;
        <span class="fd-label fd-label--error">{{errorMessage}}</span> 
      </div>
    </header>


    <div class="fd-page__content">
      <section class="fd-section">

        <div class="fd-panel" *ngIf="showUpload">
          <div class="fd-form__set">

            <section class="fd-section" style="${property.FILE_UPLOAD_STYLE}">
              <h1 class="fd-action-bar__title">
                Files
              </h1>
              <input class="fd-button--light" type="file" name="file_invoice" size="150" (change)="fileEvent($event)" multiple ="multiple"/>

              <div *ngIf="selectedFiles">
                <table class="table table-fixed">
                  <thead>
                    <tr>
                      <th class="col-xs-3">Invoice file</th>
                      <th class="col-xs-3">Metadata file</th>
                      <th class="col-xs-3">Correlation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let selectedFile of selectedFiles">
                      <td class="col-xs-3">{{selectedFile.InvoiceFileName}}</td>
                      <td class="col-xs-3">{{selectedFile.MetadataFileName}}</td>
                      <td class="col-xs-3">{{selectedFile.Correlation}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <br>Choose all files (both invoice and metadata) from local folder
              <br>Don't change the file names when you download it from SdI.
            </section>
            <section class="fd-section">
              <button class="fd-button--emphasized" [disabled]="!showCorrelate" (click)="connectFiles()">Correlate</button>
              <p></p>
              <button class="fd-button--emphasized" [disabled]="!selectedFiles" (click)="validateInput()">Upload!</button>
              
            </section>
          </div>
        </div>


        <div *ngIf="showStatus">

          <table class="table table-fixed">
            <thead>
              <tr>
                <th class="col-xs-3">File name</th>
                <th class="col-xs-3">Status</th>
                <th class="col-xs-3">CPI Message ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Item of uploadStatusArray">
                <td class="col-xs-3">{{Item.FileName}}</td>
                <td class="col-xs-3">{{Item.uploadStatus}}</td>
                <td class="col-xs-3">{{Item.uploadMplMessageId}}</td>
              </tr>

            </tbody>
          </table>
          <section class="fd-section">
            <button class="fd-button--emphasized" (click)="startAgain()">Start Again</button>
          </section>



        </div>

      </section>
    </div>
  </div>
</div>
