<div class="fd-shell fd-shell--fixed fd-shell--fundamentals">
  <div class="fd-page">

    <header class="fd-page__header">

    <div lass="fd-has-margin-medium">
    <div class="fd-col--8">
          <br>
          <h2 class="docs-header-h2">
            {{ showUpload ? "Upload Invoice Notification to CPI":""}}
            {{ showConfirm ? "--Confirm Upload to CPI":""}}
            {{ showStatus ? "Status":""}}
          </h2>
          <p>
            {{ showUpload ? "Download an invoice notification file from the SdI site, select it here using 'Choose file' button and complete the upload by clicking on 'Upload!'":""}}
           {{ showStatus ? "Find below the status of the opearation. Click on 'Start Again' to upload another file." : ""}}
           </p>

        </div>
      </div>

      <div *ngIf="errorMessage">
        <span class="fd-badge fd-badge--error">Error</span>&nbsp;
        <span class="fd-label fd-label--error">{{errorMessage}}</span>
      </div>

    </header>


    <div class="fd-page__content">
      <section class="fd-section">
        <div class="fd-panel" *ngIf="showUpload">

          <div class="fd-form__set">
              <section class="fd-section" style="${property.FILE_UPLOAD_STYLE}">
                <h1 class="fd-action-bar__title">
                Invoice Notification File
                </h1>
                <input class="fd-button--light" type="file" name="file" size="150" (change)="detectInvoiceNotificationFiles($event)" />
                <br>Example: IT00000000000_000k0_MC_002.xml <br>Don't change the file name when you download it from SdI.
              </section>

              <section class="fd-section">
                <button class="fd-button--emphasized" [disabled]="!invoiceNotificationFile" (click)="validateInput()">Upload!</button>
              </section>
          </div>
        </div>


        <div *ngIf="showConfirm">
          <section class="fd-section">
            <div class="fd-panel-grid">
              <div class="fd-panel">
                <label class="fd-form__label" for="select-1">Invoice Notification File:</label>
                <input class="fd-form__control" type="text" id="input-6" [value]="invoiceNotificationFileName" disabled>
              </div>
            </div>
          </section>
          <section class="fd-section">
            <button class="fd-button--emphasized" (click)="upload()">Complete Upload</button>
          </section>
        </div>

        <div *ngIf="showStatus">
          <section class="fd-section">
            <div class="fd-panel-grid">
              <div class="fd-panel">
                <label class="fd-form__label" for="select-1">Status:</label>
                <input class="fd-form__control" type="text" id="input-6" [value]="uploadStatus" disabled>
              </div>
            </div>
          </section>
          <section class="fd-section">
            <div class="fd-panel-grid">
              <div class="fd-panel">
                <label class="fd-form__label" for="select-1">CPI Message ID:</label>
                <input class="fd-form__control" type="text" id="input-6" [value]="uploadMplMessageId" disabled>
              </div>
            </div>
          </section>
          <section class="fd-section">
            <button class="fd-button--emphasized" (click)="startAgain()">Start Again</button>
          </section>
        </div>




      </section>
    </div>

  </div>
</div>
